extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          a.btn.btn-default(href="/transcript/Academictranscripts") تنزيل المواد للطلبة
          .btn.btn-default.active عرض فصول الطالب/ة : #{student.first_name}  #{student.last_name}
        br
        br
        #Semesters_teble  
          .panel.panel-default
            .panel-heading
              .row
                .pull-right(style="margin-right: 10px;")
                  h3#h3.panel-title عرض فصول الطالب/ة : #{student.first_name}  #{student.last_name}
                //- .col-xs-6.col-md-6
                  .input-group
                    input.form-control(type='text', placeholder='بحث...')
                    .input-group-btn
                      button.btn.btn-default
                        i.glyphicon.glyphicon-search
                .pull-left(style="margin-left: 15px;")
                  a.btn.btn-success(href='/transcript/Academictranscripts/', role='button',data-toggle='modal')
                    i.fa.fa-arrow-left
                    span  رجوع          
                .pull-left(style="margin-left: 2px;")
                  a.btn.btn-primary(href='#', role='button',data-toggle='modal', data-target="#Add_Semester")
                    span.glyphicon.glyphicon
                    span.text-none  أضافة فصل          
            .table-responsive
              table#hii.table.table-bordred.table-striped.text-right
                thead
                  th.text-center النظام الدراسي
                  th.text-center السنة الدراسية
                  th.text-center الترتيب
                  th.text-center بداية الفصل 
                  th.text-center نهاية الفصل
                  th.text-center الشعــبة
                  th.text-center المعدل الفصلي
                  th.text-center المعدل التراكمي
                  th.text-center تعديل 
                  th.text-center تنزيل
                  th.text-center إلغاء 
                tbody
                for i,u in semStudent
                  tr(data-id = 'smst#{i.id}',data-stut='#{i.student_status}',data-dep='#{i.DepartmentId}',data-level='#{i.level}',data-divi='#{i.DivisionId}')
                    td.text-center
                      if i.Semester.system_type==1
                        if i.Semester.sem_type==1
                          | فصل ربيعي 
                        if i.Semester.sem_type==2
                          | فصل خريفي
                        if i.Semester.sem_type==3
                          | فصل صيفي
                      if i.Semester.system_type ==2
                        | سنة
                    td.text-center #{i.Semester.year.getFullYear()}
                    td(id="le#{i.id}").text-center #{semty[i.level-1]}
                    td.text-center #{i.Semester.starting_date.getDate()} / #{i.Semester.starting_date.getMonth()+1} / #{i.Semester.starting_date.getFullYear()} 
                    td.text-center #{i.Semester.ending_date.getDate()} / #{i.Semester.ending_date.getMonth()+1} / #{i.Semester.ending_date.getFullYear()} 
                    td(id="div#{i.id}").text-center #{i.Division.name}
                    td.text-center 
                      if arr[u] ==Nan 
                        |0
                      else
                        | #{arr[u]}
                    td.text-center 
                      if arr[u] ==Nan 
                        |0
                      else
                        | #{ar[u]} 
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تعديل")
                        button#Editsem.btn.btn-primary.btn-xs.editDepartment(value='#{i.id}',data-title="Edit", data-toggle="modal", data-target="#edit")
                          span.glyphicon.glyphicon-pencil                   
                    td.text-center
                    
                      p(data-placement="top", data-toggle="tooltip", title="تنزيل المواد")  
                        button#std.btn.btn-primary.btn-xs(data-row='#{i.id}',value="#{i.id}",data-title="Delete", data-toggle="modal")
                          span.glyphicon.glyphicon-pencil 
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                        button#Delete.btn.btn-danger.btn-xs(value='#{i.id}',data-title="Delete", data-toggle="modal", data-target="#delete")
                          span.glyphicon.glyphicon-trash       
  #Add_Semester.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg(style="width:95%;")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h3#Heading.modal-title.custom_align عرض الفصول الدراسية
        .modal-body
          form.form#addSemester(role="form" )
            .panel.panel-default
              .panel-heading
                .row
                  .col-xs-2.col-md-4
                    .input-group
                      input.form-control#search(type='text', placeholder='في حالة عدم وجود النظام الدراسي ابحث بالسنة')
                      .input-group-btn
                        button.btn.btn-default
                          i.glyphicon.glyphicon-search
                  .col-xs-2.col-md-2
                    select.form-control.selectpicker#student_status(name="student_status", data-live-search="true", data-size=5)
                      option(value="1", selected) نظامي  
                      option(value="2") غير نظامي
                      option(value="3") إيقاف قيد
                  .col-xs-2.col-md-2
                    select.form-control.selectpicker#level(name="level", data-live-search="true", data-size=5)
                      option(value="1") الاول  
                      option(value="2") الثاني
                      option(value="3") الثالث
                      option(value="4") الرابع
                      option(value="5") الخامس
                      option(value="6") السادس
                      option(value="7") السابع
                      option(value="8") الثامن
                      option(value="9") التاسع
                      option(value="10") العاشر
                      option(value="11") الحادي العاشر
                      option(value="12") الثاني عشر
                  .col-xs-2.col-md-2
                    select.form-control.selectpicker#department_iddepartment(name="DepartmentId", data-live-search="true", data-size=5)
                      option(value="", style='color:grey; display:none;') اختر اسم القسم...
                      for i in dept
                        option(value="#{i.id}") #{i.name}  
                  .col-xs-2.col-md-2
                    select.form-control.selectpicker#division_iddivision(name="DivisionId", data-live-search="true", data-size=5)
                      option(value="", style='color:grey; display:none;') اختر اسم الشعبة...
                      //- for i in dev
                      //-   option(value="#{i.id}") #{i.name}
                    input#studentId.form-control(value="#{std}",type="hidden")             
              .table-responsive
                table#mytable.table.table-bordred.table-striped.text-right
                  thead
                    th.text-center النظام الدراسي
                    th.text-center السنة الدراسية
                    th.text-center بداية الفصل الدراسي
                    th.text-center نهاية الفصل الدراسي
                    th.text-center أضافة
                  tbody#tbodysem
                  for i in sem
                    tr(data-id = '#')
                      td.text-center 
                        if i.system_type == 1
                          if i.sem_type == 1
                            | فصل "ربيعي"
                          if i.sem_type == 2
                            | فصل "خريفي"
                          if i.sem_type == 3
                            | قصل "صيفي"
                        if i.system_type == 2
                          | سنة
                      td.text-center #{i.year.getFullYear()}
                      td.text-center #{i.starting_date.getDate()} / #{i.starting_date.getMonth()+1} / #{i.starting_date.getFullYear()} 
                      td.text-center #{i.ending_date.getDate()} / #{i.ending_date.getMonth()+1} / #{i.ending_date.getFullYear()} 
                      td.text-center
                        p(data-placement="top", data-toggle="tooltip", title="عرض")
                          button#addStudentData.btn.btn-primary.btn-xs(href='', role='button' ,value="#{i.id}")
                            span.glyphicon.glyphicon-pencil
  #Show_Semester.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل فصل دراسي
        .modal-body
          .table-responsive
              table#mytable.table.table-bordred.table-striped.text-right
                thead
                  th.text-center اسم المادة
                  th.text-center Subject Name
                  th.text-center رمز المادة
                  th.text-center.text-center.text-center.text-center درجة المادة
                tbody
                  tr(data-id = '')                      
                    td.text-center رياضة 1
                    td.text-center math
                    td.text-center ma100
                    td.text-center 60
        .modal-footer
          button.btn.btn-primary.btn-lg(type="button", style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign    
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل 
        .modal-body 
          form#formSemStu.form-signin(role="form")
            .form-group
              .row
                .col-xs-5.col-md-5
                  select.form-control.selectpicker#student_statusEdit(name="student_status", data-live-search="true", data-size=5)
                    option(value="1") نظامي  
                    option(value="2") غير نظامي
                    option(value="3") إيقاف قيد
                .col-xs-5.col-md-5
                  select.form-control.selectpicker#levelEdit(name="level", data-live-search="true", data-size=5)
                    option(value="1") الاول  
                    option(value="2") الثاني
                    option(value="3") الثالث
                    option(value="4") الرابع
                    option(value="5") الخامس
                    option(value="6") السادس
                    option(value="7") السابع
                    option(value="8") الثامن
                    option(value="9") التاسع
                    option(value="10") العاشر
                    option(value="11") الحادي العاشر
                    option(value="12") الثاني عشر
            .form-group
              .row
                .col-xs-5.col-md-5
                  select.form-control.selectpicker#department_iddepartmentEdit(name="DepartmentId", data-live-search="true", data-size=5)
                    for i in dept
                      option(value="#{i.id}") #{i.name}  
                .col-xs-5.col-md-5
                  select.form-control.selectpicker#division_iddivisionEdit(name="DivisionId", data-live-search="true", data-size=5)
        .modal-footer
          button#save.btn.btn-warning.btn-lg(style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign
            |  تعديل
    // /.modal-content
  // /.modal-dialog
  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إلغاء فصل
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذا الفصل
        .modal-footer
          button#ok.btn.btn-success(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/studentData.js')
  script.
    $(document).ready(function(){
      $("[data-toggle=tooltip]").tooltip();
    });
