extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default.active عرض الطلبة المسجلين
        br
        br
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض الطلبة المسجلين
              .col-xs-6.col-md-6
                .input-group
                  input.form-control#student_search(type='text', placeholder='بحث...رقم القيد...')
                  .input-group-btn
                    button.btn.btn-info#student_searchbtn
                      i.glyphicon.glyphicon-search
                      | 
                      span بحث
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='/student/newStudent', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة طالب/ة
              span.pull-left.btn.btn-info(style="margin-left: 10px;")
                i.glyphicon.glyphicon-chevron-down(style="top: 4px;")
                | 
                span بحث متقدم
          .panel-body(style="display: none;")
            .row
              .col-md-4
                input.search-query.form-control#first_name(name="first_name",type='text', placeholder='الأسم')
              .col-md-4
                input.search-query.form-control#father_name(name="father_name",type='text', placeholder='أسم الأب')
              .col-md-4
                input.search-query.form-control#last_name(name="last_name",type='text', placeholder='اللقب')
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th.text-center رقم القيد
                th اسم الطالب/ة
          
                th.text-center الجنس
                th عنوان اﻹقامة
             
                th.text-center الجنسية
                th.text-center عرض - تعديل
                th.text-center تنزيل المواد
                th.text-center حذف
              tbody#tbody
                for i in student
                  tr(data-id = '#{i.id}',data-first_name = '#{i.first_name}',data-first_name_en = '#{i.first_name_en}',data-father_name = '#{i.father_name}',data-father_name_en = '#{i.father_name_en}',data-grand_name = '#{i.grand_name}',data-grand_name_en = '#{i.grand_name_en}',data-last_name = '#{i.last_name}',data-last_name_en = '#{i.last_name_en}',data-mother_name = '#{i.mother_name}',data-mother_name_en = '#{i.mother_name_en}',data-birth_date = '#{i.birth_date}',data-place_birth = '#{i.place_birth}',data-nationality = '#{i.nationality}',data-gender = '#{i.gender}',data-no_paper_family = '#{i.no_paper_family}',data-no_reg_family = '#{i.no_reg_family}',data-physical_address = '#{i.physical_address}',data-civil_reg = '#{i.civil_reg}',data-phone = '#{i.phone}',data-father_work_place = '#{i.father_work_place}',data-last_cert = '#{i.last_cert}',data-cust_last_cert = '#{i.cust_last_cert}',data-date_cert = '#{i.date_cert}',data-place_cert = '#{i.place_cert}',data-set_number = '#{i.set_number}' , data-student_rate = '#{i.student_rate}',data-nid = '#{i.nid}')
                    td.text-center #{i.set_number}
                    td #{i.first_name} #{i.father_name} #{i.grand_name} #{i.last_name}
                    td.text-center
                      if i.gender == 1
                        | أنثى
                      else
                        | ذكر
                    td #{i.physical_address}
               
                    td.text-center
                      for nat in nats
                        if nat.id == i.nationality
                          span #{nat.name}
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="عرض - تعديل")
                        button#editt.btn.btn-primary.btn-xs(value='#{i.id}' ,data-title="Edit", data-toggle="modal", data-target="#edit")
                          span.glyphicon.glyphicon-pencil
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تنزيل المواد")  
                        a#downloadSubject.btn.btn-primary.btn-xs(href="/transcript/studentData/#{i.id}",data-title="تنزيل")
                          span.glyphicon.glyphicon-arrow-down
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                        button#Deletee.btn.btn-danger.btn-xs(value='#{i.id}' ,data-title="Deletee", data-toggle="modal", data-target="#delette")
                          span.glyphicon.glyphicon-trash
        if pagination
          .text-center
            ul.pagination
              li(class='#{pagination.previous.disabled}')
                a(href='?p=#{pagination.previous.n}&q=#{q}') السابق
              for page in pagination.pages
                li(class="#{page.active}&q=#{q}")
                  a(href='?p=#{page.n}&q=#{q}') #{page.n}
              li(class="#{pagination.next.disabled}")
                a(href='?p=#{pagination.next.n}&q=#{q}') التالي
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form#updateStudent( accept-charset="utf-8", role="form", name="updateStudent")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4#Heading.modal-title.custom_align عرض - تعديل طالب/ة
          .modal-body
            // Nav tabs
            ul.nav.nav-tabs(role="tablist")
              li.active(role="presentation")
                a(href="#tabOne", aria-controls="tabOne", role="tab", data-toggle="tab") تعديل بيانات اسم الطالب/ة
              li(role="presentation")
                a(href="#tabTow", aria-controls="tabTow", role="tab", data-toggle="tab") تعديل بيانات الاساسية
              li(role="presentation")
                a(href="#tabThree", aria-controls="tabThree", role="tab", data-toggle="tab") تعديل بيانات الثانوية
            // Tab panes
            .tab-content
              #tabOne.tab-pane.active(role="tabpanel")
                br
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label
                        span  اسم الطالب/ة
                      input#first_name_edit.form-control(type="text", name="first_name", placeholder="اسم الطالب/ة")
                    .col-xs-3.col-md-3
                      label
                        span  اسم اﻷب
                      input#father_name_edit.form-control(type="text", name="father_name", placeholder="اسم اﻷب")
                    .col-xs-3.col-md-3
                      label
                        span  اسم الجد
                      input#grand_name_edit.form-control(type="text", name="grand_name", placeholder="اسم الجد")
                    .col-xs-3.col-md-3
                      label
                        span  اللقب
                      input#last_name_edit.form-control(type="text", name="last_name", placeholder="اللقب")
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label.pull-left Surname
                      input#last_name_en.form-control(type="text", name="last_name_en", placeholder="Surname", dir="ltr")
                    .col-xs-3.col-md-3
                      label.pull-left Grandfather name
                      input#grand_name_en.form-control(type="text", name="grand_name_en", placeholder="Grandfather name", dir="ltr")
                    .col-xs-3.col-md-3
                      label.pull-left Father name
                      input#father_name_en.form-control(type="text", name="father_name_en", placeholder="Father name", dir="ltr")
                    .col-xs-3.col-md-3
                      label.pull-left Student name
                      input#first_name_en.form-control(type="text", name="first_name_en", placeholder="Student name", dir="ltr")
              #tabTow.tab-pane(role="tabpanel")
                br
                .form-group            
                  .row
                    .col-xs-3.col-md-3
                      label اسم اﻷم
                      input#mother_name.form-control(type="text", name="mother_name", placeholder="اسم اﻷم")
                    .col-xs-3.col-md-3
                      label.pull-left Mother name
                      input#mother_name_en.form-control(type="text", name="mother_name_en", placeholder="Mother name", dir="ltr")
                    .col-xs-3.col-md-3
                      label مكان الميلاد
                      input#place_birth.form-control(type="text", name="place_birth", placeholder="مكان الميلاد")
                    .col-xs-3.col-md-3
                      label سنة الميلاد
                      .input-group.date#birth_date1
                        input#birth_date.form-control(type="text", name="birth_date", placeholder="سنة الميلاد")
                        span.input-group-addon.success
                          span.fa.fa-calendar
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label الجنسية
                      select.form-control.selectpicker#nationality(name="nationality", data-live-search="true")
                        for nat in nats
                          option(value="#{nat.id}") #{nat.name}
                    .col-xs-3.col-md-3
                      label الجنس
                      select.form-control.selectpicker#gender(name="gender")
                        option(value="0") ذكر
                        option(value="1") انثي
                    .col-xs-3.col-md-3
                      label رقم ورقة العائلة
                      input#no_paper_family.form-control(type="text", name="no_paper_family", placeholder="رقم ورقة العائلة")
                    .col-xs-3.col-md-3
                      label رقم قيد العائلة
                      input#no_reg_family.form-control(type="text", name="no_reg_family", placeholder="رقم قيد العائلة")
              #tabThree.tab-pane(role="tabpanel")
                br
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label عنوان اﻹقامة
                      input#physical_address.form-control(type="text", name="physical_address", placeholder="عنوان اﻹقامة")
                    .col-xs-3.col-md-3
                      label السجل المدني
                      input#civil_reg.form-control(type="text", name="civil_reg", placeholder="السجل المدني")
                    .col-xs-3.col-md-3
                      label رقم الهاتف
                      input#phone.form-control(type="text", name="phone", placeholder="رقم الهاتف")
                    .col-xs-3.col-md-3
                      label مكان عمل اﻷب
                      input#father_work_place.form-control(type="text", name="father_work_place", placeholder="مكان عمل اﻷب")
                .form-group
                  .row
                    .col-xs-3.col-md-3
                      label الرقم الوطني
                      input#nid.form-control(type="text", name="nid", placeholder="الرقم الوطني")
                    .col-xs-3.col-md-3
                      label اخر شهادة
                      input#last_cert.form-control(type="text", name="last_cert", placeholder="اخر شهادة")
                    .col-xs-3.col-md-3
                      label تخصيص اخر شهادة
                      input#cust_last_cert.form-control(type="text", name="cust_last_cert", placeholder="تخصيص اخر شهادة")
                    .col-xs-3.col-md-3
                      label تاريخ الحصول علي الشهادة
                      .input-group.date#date_cert1
                        input#date_cert.form-control(type="text", name="date_cert", placeholder="تاريخ الشهادة")
                        span.input-group-addon.success
                          span.fa.fa-calendar
                .form-group
                  .row
                    .col-xs-5.col-md-3.col-md-offset-2
                      label مكان الحصول علي الشهادة
                      input#place_cert.form-control(type="text", name="place_cert", placeholder="مكان الحصول علي الشهادة")
                    .col-xs-4.col-md-3
                      label رقم القيد
                      input#set_number.form-control(type="text", name="set_number", placeholder="رقم القيد")
                    .col-xs-3.col-md-3
                      label معدل الطالب
                      input#student_rate.form-control(type="text", name="student_rate", placeholder="معدل الطالب")
                      input#id_Student(name="id" , type="hidden")
          .modal-footer
            button#save.btn.btn-warning.btn-lg(type="submit", style="margin-left:25%;width:50%;")
              span.glyphicon.glyphicon-ok-sign
              |  تعديل
  #delette.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إلغء طالب
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذا الطالب؟
        .modal-footer
          button#ok.btn.btn-success(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/students.js')
  script(src='/js/student.js')
  script.
    $(document).ready(function(){
      $("[data-toggle=tooltip]").tooltip();
      $('#birth_date1').datetimepicker({
        useCurrent: false,
        viewMode: 'years',
        format: 'YYYY'
      });
      $('#date_cert1').datetimepicker({
        useCurrent: false,
        viewMode: 'years',
        format: 'YYYY-MM-DD',
        locale: 'ar-sa'
      });
    });
    $(document).on('click', '.panel-heading span.btn', function(e){
        var $this = $(this);
      if(!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.addClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
      } else {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.removeClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
      }
    })