extends layout
block authenticationStyle
block errorStyle
block content
block navcPanel
  .container.font
    if semester.sem_type == 1
      -var semName = 'ربيع'
    else if semester.sem_type == 2
      -var semName = 'خريف'
    else if semester.sem_type == 3
      -var semName = 'صيف'
    .btn-group.btn-breadcrumb
      a.btn.btn-default(href="/cPanel")
        i.glyphicon.glyphicon-home
      a.btn.btn-default(href="/semester") عرض اﻷنظمة الدراسية
      a.btn.btn-default(href="/semester/#{semesterID}") #{semName} #{semester.year.getFullYear()}
      .btn.btn-default.active  قسم #{dep.name}
    br
    br
    .text-center.h4 عرض المواد للنظام الدراسي "#{semName} #{semester.year.getFullYear()}" للقسم "#{dep.name}"
    br
    for div in division
      .row
        .col-xs-8.col-md-8
          .panel.panel-default
            .panel-heading
              .row
                .pull-right(style="margin-right: 10px;")
                  .panel-title اسم الشعبه "#{div.name}"
            .table-responsive
              table#mytable.table.table-bordred.table-striped.text-right
                thead
                  th اسم المادة
                  th رمز المادة
                  th اسم المحاضر
                  th رقم المجموعة
                  th عدد الطلبة
                  th اسم القاعة الدراسية
                  th.text-center تعديل
                  th.text-center إلغاء
                tbody(id="tbody#{div.id}")
                  for sub in div.Sub_groups
                    tr(data-idd="#{div.id}",data-id="#{sub.id}",data-name="#{sub.Subject.name}",data-code="#{sub.Subject.code}",data-fac="#{sub.Faculty_member.id}",data-groupname="#{sub.sub_group_name}",data-quantity="#{sub.quantity}",data-loc="#{sub.Location.id}")
                      td(id="name-#{sub.id}") #{sub.Subject.name}
                      td(id="code-#{sub.id}") #{sub.Subject.code}
                      td(id="Faculty_member-#{sub.id}") #{sub.Faculty_member.name}
                      td(id="sub_group_name-#{sub.id}") #{sub.sub_group_name}
                      td(id="quantity-#{sub.id}") #{sub.quantity}
                      td(id="Location-#{sub.id}") #{sub.Location.name}
                      td.text-center
                        p(data-placement="top", data-toggle="tooltip", title="تعديل")
                          button#editSub.btn.btn-primary.btn-xs.editSub(value="#{sub.id}",data-title="Edit", data-toggle="modal", data-target="#edit")
                            span.glyphicon.glyphicon-pencil
                      td.text-center
                        p(data-placement="top", data-toggle="tooltip", title="تعديل")
                          button#delSub.btn.btn-danger.btn-xs(value="#{sub.id}",data-title="Edit", data-toggle="modal", data-target="#delete")
                            span.glyphicon.glyphicon-remove
        .col-xs-4.col-md-4
          .panel.panel-default
            .panel-heading#panel-heading
              .pull-left
                a.btn.btn-success.btn-xs(href='/semester/#{semesterID}', role='button',data-toggle='modal')
                  i.fa.fa-arrow-left
              .panel-title.text-center المواد المقترحة
              span.pull-right.clickable
                i.glyphicon.glyphicon-chevron-up
            .table-responsive
              table#mytable.table.table-bordred.table-striped.text-right
                thead
                  th اسم المادة
                  th رمز المادة
                  th.text-center إضافة
                tbody
                  for sbj in div.DivisionSubjects
                    if sbj.Subject !=null
                      tr(data-id = "sbj#{sbj.Subject.id}",data-name="#{sbj.Subject.name}",data-code="#{sbj.Subject.code}")
                        td #{sbj.Subject.name}
                        td #{sbj.Subject.code}
                        td.text-center
                          p(data-placement="top", data-toggle="tooltip", title="إضافة")
                            button#sbj.btn.btn-success.btn-xs(value="#{sbj.Subject.id}",data-title="Edit", data-toggle="modal", data-target="#add",data-div="#{div.id}")
                              span.glyphicon.glyphicon-hand-right         
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل فصل دراسي
        .modal-body
          form#editForm.form-signin(role="form")
            .form-group
              .row
                .col-xs-6.col-md-6
                  lable اسم المادة
                  input.form-control#name_e(type="text", disabled)
                .col-xs-6.col-md-6
                  lable رمز المادة
                  input.form-control#code_e(type="text", disabled)
            .form-group
              .row
                .col-xs-6.col-md-6
                  lable اسم المحاضر/ة
                  select.form-control.selectpicker#faculty_Member(name="FacultyMemberId", data-live-search="true")
                    option(value="", style='color:grey; display:none;') الرجاء اختيار اسم المحاضر...
                    for fac in faculty                 
                      option(value="#{fac.id}") #{fac.name}
                .col-xs-6.col-md-6
                  lable رقم المجموعة
                  input#sub_group_n.form-control(name="sub_group_name", type="text", placeholder="رقم المجموعة")
            .form-group
              .row
                .col-xs-6.col-md-6
                  lable عدد الطلبة
                  input.form-control#quantit(name="quantity",type="text", placeholder="رقم المجموعة")
                .col-xs-6.col-md-6
                  lable اسم القاعة الدراسية
                  select.form-control.selectpicker#location(name="LocationId", data-live-search="true")
                    option(value="", style='color:grey; display:none;') الرجاء اختيار اسم القاعة الدراسية...
                      for loc in location                 
                        option(value="#{loc.id}") #{loc.name}
          .modal-footer
            button#editSubGr.btn.btn-primary.btn-lg(data-idd="",type="button", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  تعديل
      // /.modal-content
    // /.modal-dialog
  #add.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إضافة مادة مقترحة
        .modal-body
          form#sub_group.form-signin(role="form",name='sub_group')
            .form-group
              .row
                .col-xs-6.col-md-6
                  lable اسم المادة
                  input#name_s.form-control(name="name_s",type="text", disabled)
                .col-xs-6.col-md-6
                  lable رمز المادة
                  input#code.form-control(name="code",type="text", disabled)
            .form-group
              .row
                input#DivisionId(type="hidden",name="DivisionId",value="")
                input#SubjectId(type="hidden",name="SubjectId",value="")
                input(type="hidden",name="SemesterId",value="#{semesterID}")
                .col-xs-6.col-md-6
                  lable اسم المحاضر/ة
                  select.form-control.selectpicker#faculty_Members(name="FacultyMemberId", data-live-search="true")
                    option(value="", style='color:grey; display:none;') الرجاء اختيار اسم المحاضر...
                    for fac in faculty                 
                      option(value="#{fac.id}") #{fac.name}
                .col-xs-6.col-md-6
                  lable رقم المجموعة
                  input#sub_group_name.form-control(name="sub_group_name",type="text", placeholder="رقم المجموعة")
            .form-group
              .row
                .col-xs-6.col-md-6
                  lable عدد الطلبة
                  input#quantity.form-control(name="quantity",type="text", placeholder="عدد الطلبة")
                .col-xs-6.col-md-6
                  lable اسم القاعة الدراسية
                  select.form-control.selectpicker#locations(name="LocationId", data-live-search="true")
                    option(value="", style='color:grey; display:none;') الرجاء اختيار اسم القاعة الدراسية...
                    for loc in location                 
                      option(value="#{loc.id}") #{loc.name}
          .modal-footer
            button#addd.btn.btn-success.btn-lg(type="button", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  إضافة
      // /.modal-content
    // /.modal-dialog
  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إلغاء مادة محددة
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذه المادة؟
        .modal-footer
          button#yes.btn.btn-success(type="button")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/supGroup.js')  
  script.
    $(document).ready(function(){
      $("[data-toggle=tooltip]").tooltip();
      $(document).on('click', '.panel-heading span.clickable', function(e){
        var $this = $(this);
        if(!$this.hasClass('panel-collapsed')) {
          $this.parents('.panel').find('.table-responsive').slideUp();
          $this.addClass('panel-collapsed');
          $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } 
        else {
          $this.parents('.panel').find('.table-responsive').slideDown();
          $this.removeClass('panel-collapsed');
          $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
      })
    });
    